/*
 * container-background-color: #3c3f41;
 * component-background-color: #45494a;
 * text-background-color: #3c3f41;
 * text-color: #bbbbbb;
 */
.darcula-container {
    -fx-background-color: #3c3f41;
}

.root {
    -fx-background-color: #3c3f41;
}

/*pane*/
.scroll-pane .viewport .content {
    -fx-background-color: #45494a;
}

/*text*/
.text {
    -fx-fill: #bbbbbb;
}

.labeled {
    -fx-text-fill: #bbbbbb;
}

/*text-field*/
.text-field {
    -fx-background-color: #45494a;
    -fx-text-fill: #bbbbbb;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-highlight-fill: rgb(75,110,175);
    -fx-highlight-text-fill: #bbbbbb;
    -fx-border-color: rgb(100,100,100);
    -fx-border-radius: 3px;
}

.text-field:disabled {
    -fx-background-color: #45494a;
    -fx-text-fill: #bbbbbb;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-highlight-fill: rgb(75,110,175);
    -fx-highlight-text-fill: #bbbbbb;
    -fx-border-color: rgb(100,100,100);
    -fx-border-radius: 3px;
}

/*text-area*/
.text-area {
    -fx-background-color: #45494a;
    -fx-text-fill: #bbbbbb;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-highlight-fill: #0d293e;
    -fx-border-color: rgba(100,100,100,180);
    -fx-border-radius: 3px;
}

/*button*/
.button {
    -fx-text-fill: #bbbbbb;
    -fx-background-color: linear-gradient(to bottom, #555a5c, #414648);
    -fx-background-insets: 0px;
    -fx-border-color: rgba(100,100,100,180);
    -fx-border-radius: 3px;
}

.button:default{
    -fx-background-color: linear-gradient(to bottom, #384f6b, #233143);
}

.button:pressed, .button:focus {
    -fx-border-color: linear-gradient(to top, rgba(96,175,255,20), rgba(96,175,255,70), rgba(96,175,255,130), rgba(96,175,255,50), rgba(96,175,255,0)), linear-gradient(to right, rgba(96,175,255,20), rgba(96,175,255,70), rgba(96,175,255,130), rgba(96,175,255,50), rgba(96,175,255,0)), linear-gradient(to bottom, rgba(96,175,255,20), rgba(96,175,255,70), rgba(96,175,255,130), rgba(96,175,255,50), rgba(96,175,255,0)), linear-gradient(to left, rgba(96,175,255,20), rgba(96,175,255,70), rgba(96,175,255,130), rgba(96,175,255,50), rgba(96,175,255,0));
    -fx-border-width: 4px;
}

.button:disabled  {
    -fx-text-fill: #777777;
}

/*progress-bar*/
.progress-bar  {
    -fx-min-height: 11px;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 7px;
    -fx-border-color: #808080;
    -fx-border-radius: 7px;
}

.progress-bar .bar {
    -fx-background-color: #808080;
    -fx-background-insets: 2px;
    -fx-background-radius: 10px;
}

.progress-bar:indeterminate .bar {
    
}

/*progress-indicator*/
.progress-indicator {
    -fx-progress-color: #808080;
}

/*slider*/
.slider .track {
    -fx-background-color: #2b2b2b;
}

.slider .thumb {
    -fx-background-color: #888888;
    -fx-border-color: #707070;
    -fx-border-radius: 50%;
}

.slider:disabled {
    -fx-opacity: 1;
}

.slider .thumb:disabled {
    -fx-background-color: #555555;
    -fx-border-color: #444444;
}

.slider  .axis{
    -fx-tick-label-fill: #bbbbbb;
}

.slider  .axis .axis-tick-mark{
    -fx-stroke: #bbbbbb;
}

.slider  .axis .axis-minor-tick-mark{
    -fx-stroke: #bbbbbb;
}
