/* default setting */
.root {
    -darcula-background-bright: #4b6eaf; 
    -darcula-background: #3c3f41; /*60 63 65*/
    -darcula-background-dark: #313335; /*49 51 53*/
    -darcula-background-darkest: #2b2b2b; /*43 43 43*/
    
    -darcula-text: #bbbbbb;
    -darcula-text-disabled: #777777;
    -darcula-text-highlight-background: #4b6baf;
}

.label:disabled,
.button:disabled,
.toggle-button:disabled,
.radio-button:disabled,
.check-box:disabled,
.hyperlink:disabled,
.menu-button:disabled,
.split-menu-button:disabled,
.slider:disabled,
.scroll-bar:disabled,
.scroll-pane:disabled,
.progress-bar:disabled,
.progress-indicator:disabled,
.text-input:disabled,
.choice-box:disabled,
.combo-box-base:disabled,
.date-cell:disabled > *, /* This is set on children so border is not affected. */
.list-view:disabled,
.tree-view:disabled,
.table-view:disabled,
.tree-table-view:disabled,
.tab-pane:disabled,
.titled-pane:disabled > .title,
.accordion:disabled > .titled-pane > .title,
.tab-pane > .tab-header-area > .headers-region > .tab:disabled,
.menu:disabled,
.menu-item:disabled > .label,
.menu-item:disabled,
.list-cell:filled:selected:focused:disabled,
.list-cell:filled:selected:disabled,
.tree-cell:filled:selected:focused:disabled,
.tree-cell:filled:selected:disabled,
.tree-cell > .tree-disclosure-node:disabled,
.tree-table-row-cell > .tree-disclosure-node:disabled,
.table-row-cell:selected:disabled,
.tree-table-row-cell:selected:disabled,
.table-cell:selected:disabled,
.tree-table-cell:selected:disabled,
.spinner:disabled {
    -fx-opacity: 1.0;
}

.text {
    -fx-fill: #bbbbbb;
}

.text:disabled {
    -fx-fill: #777777;
}

.hyperlink {
    -fx-text-fill: #589df6; /*88 157 246*/
}

.hyperlink .text {
    -fx-fill: #589df6; /*88 157 246*/
}

.hyperlink:visited .text {
     -fx-underline: false;
}

.hyperlink:hover .text {
    -fx-fill: #52639a; /*82 99 155*/
    -fx-underline: true;
}

.hyperlink:disabled .text {
    -fx-fill: #777777; /*82 99 155*/
    -fx-underline: true;
}

.hyperlink:armed .text {
    -fx-fill: #bc6f25; /*186 111 37*/
    -fx-underline: true;
}

.hyperlink:focused {
    -fx-border-color: transparent;
}

.text-field,
.text-area {
    -fx-text-fill: #bbbbbb;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-highlight-fill: #4b6baf;
    -fx-highlight-text-fill: #bbbbbb;
}

.text-field:disabled,
.text-area:disabled,
.button:disabled,
.toggle-button:disabled,
.split-menu-button:disabled,
.color-picker:disabled,
.date-picker:disabled,
.menu-button:disabled {
    -fx-text-fill: #777777;
    -fx-prompt-text-fill: #777777;
}

/* dacular component border */
.text-field,
.text-area,
.button,
.toggle-button,
.combo-box,
.choice-box,
.list-view,
.progress-indicator> .determinate-indicator> .indicator,
.split-menu-button,
.color-picker,
.date-picker,
.menu-button {
    -fx-border-color: #646464;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.combo-box:hover,
.choice-box:hover {
    -fx-border-color: #767676;
}

/* dacular background */
.dacular-background,
AnchorPane,
BorderPane,
FlowPane,
GridPane,
HBox,
Pane,
TilePane,
VBox,
StackPane,
.scroll-pane,
.scroll-pane> .viewport,
.text-area .scroll-pane .viewport .content,
.list-view,
.progress-indicator> .determinate-indicator> .indicator,
.context-menu,
.menu-item,
.date-picker,
.scroll-pane> .corner,
.combo-box .list-view> .virtual-flow> .corner,
.scroll-bar:vertical,
.scroll-bar:horizontal,
.menu-bar,
.menu-bar> .container,
.tool-bar,
.tool-bar> .container,
.tab-pane> .tab-header-area> .tab-header-background,
.split-pane {
    -fx-background-color: #3c3f41;
}

.text-field,
.text-area {
    -fx-background-color: #45494a;
}

.text-field:disabled,
.text-area:disabled {
    -fx-background-color: transparent;
}

.text-field> Pane {
    -fx-background-color: transparent;
}

/* button */
.button,
.toggle-button,
.split-menu-button,
.color-picker,
.menu-button {
    -fx-background-color: linear-gradient(to bottom, #555a5c, #414648);
    -fx-background-insets: 0;
}

.button:default {
    -fx-background-color: linear-gradient(to bottom, #384f6b, #233143);
}

/* right button */
.split-menu-button> .arrow-button,
.color-picker:editable> .arrow-button,
.combo-box> .arrow-button,
.date-picker> .arrow-button,
.split-menu-button:disabled> .arrow-button {
    /*-fx-background-color: linear-gradient(to bottom, #555a5c, #414648);
    -fx-background-insets: 0;
    -fx-background-radius: 0 3 3 0;*/
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent transparent transparent #646464;
    -fx-border-radius: 0 3 3 0;
}

/* stack pane background fix*/
.arrow-button,
.menu-item> .left-container,
.menu-item> .right-container,
.menu-item> .graphic-container {
    -fx-background-color: transparent;
}

/*arrow*/
.arrow,
.left-arrow,
.right-arrow {
    -fx-background-color: #bbbbbb;
}

.arrow:disabled,
.left-arrow:disabled,
.right-arrow:disabled {
    -fx-background-color: #777777;
}
    
/* left node */
.date-picker> .date-picker-display-node{
    -fx-border-color: transparent;
    -fx-background-radius: 3px 0 0 3px;
    -fx-border-radius: 3px 0 0 3px;
}

/* armed */
.button:armed, 
.toggle-button:armed,
.radio-button:armed> .radio,
.check-box:armed> .box,
.combo-box:armed,
.combo-box:showing,
.choice-box:pressed,
.choice-box:showing,
.split-menu-button:armed,
.color-picker:armed,
.menu-button:armed {
    -fx-border-color: transparent;
    -fx-background-color: #60afff32, #60afff64, #60afffb4, #60afff78, #60afff46, linear-gradient(to bottom, #555a5c, #414648);
    -fx-background-insets: -2, -1, 0, 1, 2;
    -fx-background-radius: 6, 5, 4, 3, 2;
}

.button:armed:default {
    -fx-background-color: #60afff32, #60afff64, #60afffb4, #60afff78, #60afff46, linear-gradient(to bottom, #384f6b, #233143);
}

.separator:vertical> .line {
    -fx-border-color: transparent transparent transparent #2b2b2b;
    -fx-border-width: 0 0 0 1;
}

.separator:horizontal> .line {
    -fx-border-color: #2b2b2b transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to top, #454a4c, #313638);
}

.button:disabled,
.toggle-button:disabled,
.split-menu-button:disabled,
.menu-button:disabled,
.color-picker:disabled {
    -fx-background-color: transparent;
}

.combo-box,
.choice-box {
    -fx-background-color: transparent;
}

.combo-box:editable> .text-field {
    -fx-background-color: #45494a;
    -fx-border-color: transparent;
}

.split-menu-button> .label {
    -fx-background-color: transparent;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-padding: 1px;
}

.scroll-bar:vertical> .thumb {
    -fx-background-color: linear-gradient(to right, #5f5f5f, #505050);
    -fx-background-radius: 3px;
    -fx-border-color: #555555;
    -fx-border-insets: 2px, 3px, 4px;
    -fx-border-radius: 3px;
}

.scroll-bar:vertical> .thumb:hover {
    -fx-background-color: linear-gradient(to right, #707070, #646464);
}

.scroll-bar:horizontal> .thumb {
    -fx-background-color: linear-gradient(to bottom, #5f5f5f, #505050);
    -fx-background-radius: 3px;
    -fx-border-color: #555555;
    -fx-border-insets: 2px, 3px, 4px;
    -fx-border-radius: 3px;
}

.scroll-bar:horizontal> .thumb:hover{
    -fx-background-color: linear-gradient(to bottom, #707070, #646464);
}

.scroll-bar> .increment-button:hover,
.scroll-bar> .decrement-button:hover {
    -fx-background-color: transparent;
}

.progress-bar {
    -fx-min-height: 11px;
    -fx-per-height: 11px;
    -fx-max-height: 11px;
}

.progress-bar> .track {
    -fx-background-color: transparent;
    -fx-background-radius: 7px;
    -fx-border-color: #808080;
    -fx-border-radius: 7px;
}

.progress-bar> .bar {
    -fx-background-color: #808080;
    -fx-background-insets: 2px;
    -fx-background-radius: 10;
}

.progress-indicator {
    -fx-progress-color: #808080;
}

.progress-indicator:disabled {
    -fx-progress-color: #777777;
}

.slider> .track {
    -fx-background-color: #2b2b2b;
}

.slider> .thumb {
    -fx-background-color: #888888;
    -fx-border-color: #707070;
    -fx-border-radius: 50%;
}

.slider> .thumb:disabled {
    -fx-background-color: #555555;
    -fx-border-color: #444444;
}

.slider> .axis {
    -fx-tick-label-fill: #bbbbbb;
}

.slider:disabled> .axis {
    -fx-tick-label-fill: #777777;
}

.slider> .axis> .axis-tick-mark,
.slider> .axis> .axis-minor-tick-mark {
    -fx-stroke: #bbbbbb;
}

.slider:disabled> .axis> .axis-tick-mark,
.slider:disabled> .axis> .axis-minor-tick-mark {
    -fx-stroke: #777777;
}

.radio-button> .radio,
.check-box> .box {
    -fx-background-color: linear-gradient(to bottom, #6e6e6e, #5f5f5f);
    -fx-border-color: #282828
}

.radio-button:focus> .radio,
.check-box:focus> .box {
    -fx-background-color: linear-gradient(to bottom, #787878, #4b4b4b);
}

.radio-button:focus:armed> .radio,
.check-box:focus:armed> .box {
    -fx-background-color: linear-gradient(to bottom, #646464, #373737);
}

.radio-button> .radio {
    -fx-border-radius: 50%;
}

.check-box> .box {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.radio-button> .radio> .dot,
.check-box .box> .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.radio-button:selected> .radio> .dot,
.check-box:selected> .box> .mark,
.check-box:indeterminate> .box> .mark {
    -fx-background-color: linear-gradient(#aaaaaa 95%, #1e1e1e 5%);
}

.radio-button:disabled:selected> .radio> .dot,
.check-box:disabled:selected> .box> .mark,
.check-box:disabled:indeterminate> .box> .mark   {
    -fx-background-color: linear-gradient(#787878 95%, #3c3c3c 5%);
}

/*menu*/
.menu-bar {
    -fx-border-color: linear-gradient(#282828, #555555);
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0;
}

.menu-bar> .container> .menu {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
}

.context-menu {
    -fx-border-color: #515151;
    -fx-padding: 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #515151 transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
}

.menu-bar> .container> .menu:hover,
.menu-bar> .container> .menu:focused,
.menu-bar> .container> .menu:pressed,
.menu-bar> .container> .menu:showing,
.menu:hover,
.menu:focused,
.menu:pressed,
.menu:showing,
.menu-item:hover,
.menu-item:focused,
.menu-item:pressed {
    -fx-background-color: #4b6eaf /*75 110 175*/
}

.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: #bbbbbb;
}

.radio-menu-item:disabled:checked > .left-container > .radio,
.check-menu-item:disabled:checked > .left-container > .check {
    -fx-background-color: #777777;
}

.radio-menu-item:focused:checked > .left-container > .radio,
.check-menu-item:focused:checked > .left-container > .check {
    -fx-background-color: #ffffff;
}

/*tool-bar*/
.tool-bar:vertical {
    -fx-padding: 0.5em 0 0.5em 0;
    -fx-border-color: transparent #303334 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.tool-bar {
    -fx-border-color: transparent transparent #303334 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-padding: 0 0.5em 0 0.5em;
}

.tool-bar:horizontal .separator:vertical> .line {
    -fx-border-color: transparent transparent transparent #6f6f6f;
    -fx-border-width: 0 0 0 1;
    -fx-border-style: dashed;
}

.tool-bar:vertical .separator:horizontal> .line {
    -fx-border-color: #6f6f6f transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: dashed;
}

.tool-bar .button,
.tool-bar .toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tool-bar .button:hover,
.tool-bar .toggle-button:hover,
.tool-bar .toggle-button:selected {
    -fx-background-color: #464a4d;
    -fx-border-color: #767c81;
}

.tool-bar .button:armed,
.tool-bar .toggle-button:armed {
    -fx-background-color: #565a5d; /*85 89 92*/
    -fx-border-color: #7a8084; /*122 128 132*/
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

/*tab-pane*/
.tab-pane> .tab-header-area {
    -fx-padding: 0;
}

.tab-pane> .tab-header-area> .tab-header-background {
    -fx-padding: 0;
    -fx-border-color: #4b4b4b transparent #4b4b4b transparent;
    -fx-border-width: 1 0 1 0;
}

.tab-pane> .tab-header-area> .headers-region> .tab {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.tab-pane> .tab-header-area> .headers-region> .tab:left {
    -fx-border-color: transparent transparent transparent #4b4b4b;
    -fx-border-width: 0 0 0 1;
}

.tab-pane> .tab-header-area> .headers-region> .tab:left:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #4a7a88 12.5%);
}

.tab-pane:focused> .tab-header-area> .headers-region> .tab:left:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #439eb8 12.5%);
}

.tab-pane> .tab-header-area> .headers-region> .tab:right {
    -fx-border-color: transparent #4b4b4b transparent transparent ;
    -fx-border-width: 0 1 0 0;
}

.tab-pane> .tab-header-area> .headers-region> .tab:right:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #4a7a88 12.5%);
}

.tab-pane:focused> .tab-header-area> .headers-region> .tab:right:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #439eb8 12.5%);
}

.tab-pane> .tab-header-area> .headers-region> .tab:top {
    -fx-border-color: transparent #4b4b4b transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.tab-pane> .tab-header-area> .headers-region> .tab:top:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #4a7a88 12.5%);
}

.tab-pane:focused> .tab-header-area> .headers-region> .tab:top:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #439eb8 12.5%);
}

.tab-pane> .tab-header-area> .headers-region> .tab:bottom {
    -fx-border-color: transparent transparent transparent #4b4b4b;
    -fx-border-width: 0 0 0 1;
}

.tab-pane> .tab-header-area> .headers-region> .tab:bottom:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #4a7a88 12.5%);
}

.tab-pane:focused> .tab-header-area> .headers-region> .tab:bottom:selected {
    -fx-background-color: linear-gradient(to bottom, #515658 87.5%, #439eb8 12.5%);
}

.tab-pane> .tab-header-area> .headers-region> .tab:selected .focus-indicator{
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

/*titled-pane*/
.titled-pane> .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.titled-pane> .title {
    -fx-background-color: linear-gradient(to bottom, #3b3e40, #383b3c);
    -fx-border-color: #4b4b4b transparent #242627 transparent;
    -fx-border-width: 1 0 1 0;
}

.titled-pane:focused> .title {
    -fx-background-color: linear-gradient(to bottom, #434f60, #414c5d);
    -fx-border-color: #4b4b4b transparent #2a313c transparent;
    -fx-border-width: 1 0 1 0;
}